<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- views/part/volver.ejs -->
<form action="/menu" method="get" style="margin-top: 20px;">
  <button type="submit">Volver</button>
</form>

</body>
</html>