<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Minifutbo iES-9024</h1>
    
    <form action='<%=url%>/api/clientes' method="POST" id="formCliente">
        <p><label>Nombre:&nbsp;  </label><input type="text"   name="nombre"  > </p>
        <p><label>Dni:&nbsp;     </label><input type="text"   name="dni"     > </p>
        <p><label>Telefono:&nbsp;</label><input type="number" name="telefono"> </p>
        <input type="hidden"  name="token" value="lkjrt4v3wmtiqoprmmor98">
        <input type="submit" value="Agregar Cliente">
    </form> 
    <br>
    <form action="<%=url%>/menuGeneral" method="POST">
        <input type="hidden" name="token" value="<%=token%>">
        <input type="submit" value="Volver">
    </form>

<script>
document.getElementById('formCliente').addEventListener('submit', function(event) {
let nombre = document.getElementsByName('nombre')[0].value.trim();
let dni = document.getElementsByName('dni')[0].value.trim();
let telefono = document.getElementsByName('telefono')[0].value.trim();
if (!nombre || !dni || !telefono){
    alert("Por favor,completar todos los campos antes de enviar el formulario")
    event.preventDefault();
}
}
);

</script>


</body>
</html>